body{
    font-family: inherit;
    height: 100%;
    width: 100%;
}
.caminho{
    display:block;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    margin-bottom: -60px;
    margin-top: 65px;
}
.headerPerfil{
    margin-top:70px;
    margin-left:10px;
    display:block;
    margin-right: auto;
    margin-left: auto;
    width: 250px;
    height: 130px;
}
.headerPerfil img{
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}
.headerPerfil a{
  margin-left: 12px;
  margin-right: 10px;
}
.fotoInfo{
    margin-right: 0;
    margin-left: 10px;
    width: 120px;
    float: left;
}
.edit{
    width: 120px;
    height: 125px;;
    float: left;
}
.edit button{
    background-color: #30afad;
    width: 120px;
    height: 40px;
    border:none;
    margin-top:10px;
}
div.buttons{
    width: 262px;
    height: 40px;
    display:block;
    margin-right: auto;
    margin-left: auto;
}
div.buttons button{
    width: 130px;
    height: 40px;
    float: left;
    border: solid 0.5px black;
    margin-left:1px;
}
div.buttons #infoButton{
    background-color: #30afad;
}
div.buttons #contaButton{
    background-color: white;
}
.inputsFormInfo{
    width: 70%;
    display:block;
    margin-right: auto;
    margin-left: auto;
}
.inputsFormConta{
    width: 70%;
    display:block;
    margin-right: auto;
    margin-left: auto;
    display: none;
}
.inputsFormInfo input{
    width: 100%;
    height: 40px;
    border: solid 1px black;
}
.inputsFormConta input{
    width: 100%;
    height: 40px;
    border: solid 1px black;
}
#salvar{
    width: 150px;
    height: 40px;
    background-color: #30afad;
    display:block;
    margin-right: auto;
    margin-left: auto;
    border:none;
    margin-bottom: 10px;
}