body{
    font-family: inherit;
    height: 100%;
    width: 100%;
}
.caminho{
    display:block;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    margin-bottom: -60px;
    margin-top: 65px;
}
.headerPerfil{
    margin-top:70px;
    margin-left:10px;
    display:block;
    margin-right: auto;
    margin-left: auto;
    width: 250px;
    height: 130px;
}
.headerPerfil img{
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}
.headerPerfil a{
  margin-left: 12px;
  margin-right: 10px;
}
.fotoInfo{
    margin-right: 0;
    margin-left: 10px;
    width: 120px;
    float: left;
}
.edit{
    width: 120px;
    height: 125px;;
    float: left;
}
.edit label{
    font-size: 20px;
    text-align: center;
    width: 120px;
    margin-top: 10px;
}
.edit button{
    width: 100px;
    height: 40px;
    border:solid 1px black;
    background: white;
}
.infos{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.infoLivro{
    width: 100%;
    border: solid 1px black;
    margin-bottom: 10px;
    font-size: 18px;
    display:inline-block;
    padding-left: 5px;
}
.infos output{
    font-size: 20px;
    float: right;
    padding-right: 10px;
}
.infos label{
    height: 40px;
    margin-left: 5px;
    margin-top:5px;
    padding-top: 10px;
}
.infos span{
    float: left;
    font-size: 28px;
    margin-left: 5px;
    margin-top:5px;
}
.coracao{
    color:red;
}
.estrela{
color:yellow;
}
#estante{
    margin-top: 20px;
    display:block;
    margin-right: auto;
    margin-left: auto;
    width: 150px;
}
.infos a{
    font-size: 22px;
    display:block;
    float: left;
    margin-bottom: 40px;
}











